name: continuos-integration

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: gerenciadordeusuarios
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: local
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U admin -d gerenciadordeusuarios"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout do código
        uses: actions/checkout@v6
      - name: Configurar JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configurar PostgreSQL no application.properties
        run: |
          echo 'spring:
            datasource:
              url: jdbc:postgresql://localhost:5432/gerenciadordeusuarios
              username: admin
              password: admin
              driver-class-name: org.postgresql.Driver
            jpa:
              properties:
                hibernate:
                  dialect: org.hibernate.dialect.PostgreSQLDialect
          ' > src/main/resources/application.properties    

      - name: Instalar dependências
        run: mvn clean install -DskipTests

      - name: Executar testes
        run: mvn spring-boot:run

      #      - name: Analisar qualidade do código com SonarQube
      #        env:
      #          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:3.7.0.1746:sonar -Dsonar.projectKey=charles-souza_gerenciadordeusuarios

      - name: Compilar o projeto
        run: mvn clean package -DskipTests

      - name: Criar e enviar imagem Docker
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "DOCKER_USERNAME = $DOCKER_USERNAME"
          docker build -t ${{ secrets.DOCKER_USERNAME }}/gerenciadordeusuarios:latest .
          echo "$DOCKER_PASSWORD" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin 
          docker push ${{ secrets.DOCKER_USERNAME }}/gerenciadordeusuarios:latest           

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout do código
        uses: actions/checkout@v6

      - name: Build do container Docker
        run: |
          docker build -t gerenciadordeusuarios:latest .
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker tag gerenciadordeusuarios:latest charlessouza/gerenciadordeusuarios:latest
          docker push charlessouza/gerenciadordeusuarios:latest
